doctype html
html(lang="en")
  - var title = "PugPlay"
  head
    title= title
    //- link(rel="stylesheet", href="main.css")
    style: include main.css
  body
    header
      h1 #[em PUG]PLAYGROUND
    #codes
      #source
        textarea(autofocus)
      #result
        textarea(readonly)
    script(src="index.js")
